
body {
    background-color: rgb(52, 108, 228);

}


.weather_forecast_icon {
    width: 100px;
    margin: auto;
}

.weather_forecast_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    margin: 3px;
    background-color: rgb(6, 147, 198);
}

.weather_forecast {
    display: flex;
    flex-direction: row;
}

.weather-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

